/** 
 * Your Description
 * @author xxx
 * @time xxx
 */

import React, {Component} from 'react'

//import {connect} from 'react-redux'

import {TestComponent} from 'Library'

export default class __SCREEN_NAME__ extends Component{

  render(){
    return <div>
      <TestComponent />
    </div>

  }
}


//const map = (state) => {
//  return {
//
//}
//}

