import React, {Component} from 'react'
import ReactDOM from 'react-dom'

import Screens from "screen"
import {AppContainer} from 'container'

import {
  BrowserRouter as Router,
  Route,
  Link
} from 'react-router-dom'

import {get_current_path} from 'helper'


// 获取当前的网址
const base = get_current_path()


class App extends Component{

  constructor(){
    super()
    this.state = { store : null }
  }

  componentWillMount(){

    init_store().then(store => {
      this.setState({
        store

      })
    })
  }

  render() {
    if(!this.state.store) {return null}
    return <Provider store={this.state.store}>
      <Router>
        <Route path='/' >
          <Layout>
            <Route exact path="" component={Screens.__SCREEN_NAME__} />
          </Layout>
        </Route>
      </Router>
    </Provider>

  }
}


ReactDOM.render(
  <App />, 
  document.getElementById("app"))
