/** 
 * Your Description
 * @author xxx
 * @time xxx
 */

import React, {Component} from 'react'

//import {connect} from 'react-redux'


export default class __SCREEN_NAME__ extends Component{

  render(){
    return <div>
      <h1>__SCREEN_NAME__</h1>
    </div>
  }
}


//const map = (state) => {
//  return {
//
//}
//}

